body {
    font-family: "Helvetica Neue",
      Arial,
      "Hiragino Kaku Gothic ProN",
      "Hiragino Sans",
      Meiryo,
      sans-serif;
      padding-bottom: 50px;
      padding-top: 100px;
  }

footer{
    background-color: #3F51B5;
    color: #fff;
    width: 100%;
    height: 50px;
    padding: 5px 0;
    position: fixed;
    bottom: 0; /*下に固定*/
}

.v-application{
    font-family: "Helvetica Neue",
      Arial,
      "Hiragino Kaku Gothic ProN",
      "Hiragino Sans",
      Meiryo,
      sans-serif;
}
